<launch>
    <arg name="config" default="/vol/pepper/systems/pepper-robocup-nightly/share/clf_perception_vision/data/configs/clf_perception_gender_age_example.yaml"/>
    <node pkg="clf_perception_vision" type="clf_perception_gender_age" name="clf_perception_gender_age" output="screen"
          args="$(arg config)">
    </node>
</launch>